* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}
.row{
    width: 100%;
    padding: 0;
}

.section {
    width: 100%;
    /* height: 100vh; */
    font-size: 50px;
    color: rgb(0, 0, 0);
    /* text-align: center; */
    margin: 0;
}



.nav {
    width: 30%;
    background-color: #131313d8;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.right_part{
    width: 70%;
    margin-left: 33%;
}
.button{
    color: white ;
    height: 40px;
    width: 90px;
    padding: 2px;
    text-decoration: none;
    font-weight: bold ;
    font-size: 19px ;
}
#profile{
    width: 50%;
    border-radius: 100%;
    border: 5px solid gray;
}
.p_tag{
    font-size: 19px;
}
.one{
    margin-top: 30px;
}
.two{
    margin-top: 45px;
}
.three{
    margin-top: 45px;
}
.four{
    margin-top: 45px;
}
.five{
    margin-top: 45px;
}
.visit_button{
    width: 13%;
    height: 34px;
    border-radius: 5px;
    background-color: black;
}
.visit_text{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}